<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/user :: content('Blog', ~{this :: .container})}">


	 <section class="container">
            <div class="overflow-wrapper">
                <div class="col-sm-12">
                
                    <h2 class="page-heading">Blog</h2>
                    
                    <!-- News post article-->
                    <th:block th:each="blog:${blogs}"> 
                    <article class="post post--news">
                        <a th:href="@{'/blog/'+${blog.id}}" class="post__image-link">
                            <img alt='' th:src="@{'/images/'+ ${blog.photo}}" >
                             
                        </a>

                        <h1><a th:href="@{'/blog/'+${blog.id}}" class="post__title-link" th:text="${blog.title}"></a></h1>
                        <p class="post__date" th:text="${blog.created}"></p>

                        <div class="devider-huge"></div>
                    </article>
                    </th:block>
                    <!-- News post article-->

                    <!-- end news post article-->
 

                </div>
            </div>
        </section>




</html>