<html xmlns:th="http://www.thymeleaf.org" xmlns:mytags="http://www.mytags.vn" th:fragment="content(title, mainContent)">

<head>
	<meta charset="utf-8">
	<title th:text="${title}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="telephone=no" name="format-detection">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic' rel='stylesheet' type='text/css'>

	<!-- Mobile menu -->
	<link th:href="@{/user/css/gozha-nav.css}" rel="stylesheet" />
	<!-- Select -->
	<link th:href="@{/user/css/external/jquery.selectbox.css}" rel="stylesheet" />
	<!-- Slider Revolution CSS Files -->
	<link rel="stylesheet" type="text/css" th:href="@{/user/revolution/css/settings.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/user/revolution/css/layers.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/user/revolution/css/navigation.css}">
	<!-- Custom -->
	<link th:href="@{/user/css/style.css}" rel="stylesheet" />
	<!-- Custom -->
	<link th:href="@{/user/css/style.css?v=1}" rel="stylesheet" />
	<!-- Modernizr 
	<script th:src="@{/user/js/external/modernizr.custom.js}"></script>-->


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!-- Main CSS File -->
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/user/assets/images/icons/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/user/assets/images/icons/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/user/assets/images/icons/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/user/assets/images/icons/site.html}">
	<link rel="mask-icon" th:href="@{/user/assets/images/icons/safari-pinned-tab.svg}" color="#666666">
	<link rel="shortcut icon" th:href="@{/user/assets/images/icons/favicon.ico}">
	<link rel="stylesheet" th:href="@{/user/assets/css/style.css}">
</head>

<body>
	<div class="wrapper">
		<header class="header-wrapper">
			<div class="container">
				<a th:href="@{/}" class="logo" style="top: 0;">
					<img alt='logo' th:src="@{/user/images/logo.png}">
				</a>
				<nav id="navigation-box">
					<a href="#" id="navigation-toggle">
						<span class="menu-icon">
							<span class="icon-toggle" role="button" aria-label="Toggle Navigation">
								<span class="lines"></span>
							</span>
						</span>
					</a>

					<ul id="navigation">
						<li>
							<span class="sub-nav-toggle plus"></span>
							<a>Film</a>
							<ul>
								<li class="menu__nav-item"><a th:href="@{/film/now-showing}">Now showing</a></li>
								<li class="menu__nav-item"><a th:href="@{/film/coming-soon}">Coming soon</a></li>
							</ul>
						</li>
						<li>
							<span class="sub-nav-toggle plus"></span>
							<a th:href="@{/contact/index}">Pages</a>
							 
						</li>
						
						<li>
							<span class="sub-nav-toggle plus"></span>
							<a th:href="@{/blog/index}">Blog</a>
						</li>
						<li>
							<span class="sub-nav-toggle plus"></span>
							<a th:href="@{/cinema/choose-city}">Cinema</a>
						</li>

					</ul>
				</nav>

				<!-- Additional header buttons / Auth and direct link to booking-->
				<div class="control-panel" style="right:-50 ;">


					<th:block sec:authorize="isAuthenticated()">
						<a th:href="@{'/user/' + ${#authentication.name}}"
							class="btn btn-md btn--warning btn--book login-window">
							<th:block sec:authentication="name">
						</a>
						<a class="btn btn-md btn--warning btn--book login-window" th:href="@{/account/logout}">
							LOG OUT
						</a>
					</th:block>

					<!-- Hide the login and register buttons if authenticated -->
					<th:block sec:authorize="isAnonymous()">
						<a th:href="@{/user/login}">
							<button type="button" class="btn btn-md btn--warning btn--book login-window">
								Sign in
							</button>
						</a>
						<a th:href="@{/user/register}">
							<button type="button" class="btn btn-md btn--warning btn--book login-window"
								data-target="#">
								REGISTER
							</button>
						</a>
					</th:block>

				</div>

			</div>
		</header>

		<!-- Search bar -->
		<div class="search-wrapper">
			<div class="container container--add">
				<form id="search-form" method="get" th:action="@{'/home'}" class="search">
					<input name="search" th:value="${searchedKeyword}" type="text" class="search__field"
						placeholder="Search">
					<button type="submit" class="btn btn-md btn--danger search__button">Search a movie</button>
				</form>
			</div>
		</div>

		<!-- Main content -->
		<div th:replace="${mainContent}"></div>

		<footer class="footer-wrapper">
			<section class="container">
				<div class="col-xs-4 col-md-2 footer-nav">
					<ul class="nav-link">
						<li><a href="#" class="nav-link__item">Cities</a></li>
						<li><a href="movie-list-left.html" class="nav-link__item">Movies</a></li>
						<li><a href="trailer.html" class="nav-link__item">Trailers</a></li>
						<li><a href="rates-left.html" class="nav-link__item">Rates</a></li>
					</ul>
				</div>
				<div class="col-xs-4 col-md-2 footer-nav">
					<ul class="nav-link">
						<li><a href="coming-soon.html" class="nav-link__item">Coming soon</a></li>
						<li><a href="cinema-list.html" class="nav-link__item">Cinemas</a></li>
						<li><a href="offers.html" class="nav-link__item">Best offers</a></li>
						<li><a href="news-left.html" class="nav-link__item">News</a></li>
					</ul>
				</div>
				<div class="col-xs-4 col-md-2 footer-nav">
					<ul class="nav-link">
						<li><a href="#" class="nav-link__item">Terms of use</a></li>
						<li><a href="gallery-four.html" class="nav-link__item">Gallery</a></li>
						<li><a href="contact.html" class="nav-link__item">Contacts</a></li>
						<li><a href="page-elements.html" class="nav-link__item">Shortcodes</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="footer-info">
						<p class="heading-special--small">A.Movie<br><span class="title-edition">in the social
								media</span></p>

						<div class="social">
							<a href='#' class="social__variant fa fa-facebook"></a>
							<a href='#' class="social__variant fa fa-twitter"></a>
							<a href='#' class="social__variant fa fa-vk"></a>
							<a href='#' class="social__variant fa fa-instagram"></a>
							<a href='#' class="social__variant fa fa-tumblr"></a>
							<a href='#' class="social__variant fa fa-pinterest"></a>
						</div>

						<div class="clearfix"></div>
						<p class="copy">&copy; A.Movie, 2013. All rights reserved. Done by Olia Gozha</p>
					</div>
				</div>
			</section>
		</footer>
	</div>




	<!-- jQuery 3.1.1-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Migrate -->
	<script th:src="@{/user/js/external/jquery-migrate-1.2.1.min.js}"></script>
	<!-- Bootstrap 3-->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

	<!-- Slider Revolution core JavaScript files -->
	<script type="text/javascript" th:src="@{/user/revolution/js/jquery.themepunch.tools.min.js}"></script>
	<script type="text/javascript" th:src="@{/user/revolution/js/jquery.themepunch.revolution.min.js}"></script>

	<!-- Slider Revolution extension scripts. -->
	<script type="text/javascript"
		th:src="@{/user/revolution/js/extensions/revolution.extension.actions.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/user/revolution/js/extensions/revolution.extension.carousel.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/user/revolution/js/extensions/revolution.extension.kenburn.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/user/revolution/js/extensions/revolution.extension.layeranimation.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/user/revolution/js/extensions/revolution.extension.migration.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/user/revolution/js/extensions/revolution.extension.navigation.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/user/revolution/js/extensions/revolution.extension.parallax.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/user/revolution/js/extensions/revolution.extension.slideanims.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/user/revolution/js/extensions/revolution.extension.video.min.js}"></script>

	<!-- Mobile menu -->
	<script th:src="@{/user/js/jquery.mobile.menu.js}"></script>
	<!-- Select -->
	<script th:src="@{/user/js/external/jquery.selectbox-0.2.min.js}"></script>
	<!-- Stars rate -->
	<script th:src="@{/user/js/external/jquery.raty.js}"></script>

	<!-- Form element -->
	<script th:src="@{/user/js/external/form-element.js}"></script>
	<!-- Form validation -->
	<script th:src="@{/user/js/form.js}"></script>

	<!-- Twitter feed -->
	<script th:src="@{/user/js/external/twitterfeed.js}"></script>

	<!-- Custom -->
	<script th:src="@{/user/js/custom.js}"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			init_Home();
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			init_BookingOne();
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			init_BookingTwo();
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			init_MovieList();
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			init_Contact();
		});

		const onChooseShow = (e) => {
			const showId = $(e).data("show-id")
			localStorage.setItem("showId", JSON.stringify(showId))
			window.location.href = '/order/order-seats?showId=' + showId
		}

		const onChooseFood = () => {
			const foods = [];
			for (var food of $(".cart-product-quantity")) {
				const childrens = food.children;
				if (childrens[3].value > 0) {
					const item = {
						id: childrens[0].value,
						price: childrens[1].value,
						name :childrens[2].value,
						quantity: childrens[3].value,
					}
					foods.push(item)
				}
			}
			localStorage.setItem("foods", JSON.stringify(foods))
			window.location.href = "/order/checkout"
		}

	</script>
	<!-- MOLLA -->
	<script th:src="@{/user/assets/js/jquery.min.js}"></script>
	<script th:src="@{/user/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/user/assets/js/jquery.hoverIntent.min.js}"></script>
	<script th:src="@{/user/assets/js/jquery.waypoints.min.js}"></script>
	<script th:src="@{/user/assets/js/superfish.min.js}"></script>
	<script th:src="@{/user/assets/js/owl.carousel.min.js}"></script>
	<!-- Main JS File -->
	<script th:src="@{/user/assets/js/main.js}"></script>
</body>

</html>