<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/admin :: content('Add new movie', ~{this :: .main})}">

<head>
	<title></title>
</head>

<body>

	<main class="main">

		<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>Add new Movie</h2>
					</div>
				</div>
				<!-- end main title -->
				<div th:if="${msg}">
					<p style="color: red" th:text="${msg}"></p>
				</div>
				<!-- form -->
				<div class="col-12">
					<form th:action="@{/admin/addmovie}" enctype="multipart/form-data" class="form" method="post">
						<div class="row">
							<div class="col-12 col-md-5 form__cover">
								<div class="row">
									<div class="col-12 col-sm-6 col-md-12">
										<div class="form__img">
											<label for="form__img-upload">Poster</label>
											<input id="form__img-upload" name="file" type="file"
												accept=".png, .jpg, .jpeg">
											<img id="form__img" src="#" alt=" ">
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-7 form__content">
								<div class="row">
									<div class="col-12">
										<div class="form__group">
											<input type="text" th:field="${phim.title}" class="form__input"
												placeholder="Title">
										</div>
									</div>

									<div class="col-12">
										<div class="form__group">
											<textarea id="text" th:field="${phim.description}" name="text"
												class="form__textarea" placeholder="Description"></textarea>
										</div>
									</div>



									<div class="col-12 col-sm-6 col-lg-3">
										<div class="form__group">
											<h4 style="color: aliceblue;">Created</h4>
											<input type="date" th:field="${phim.releaseDate}" id="releaseDate"
												class="form__input" placeholder="Release_date">


										</div>
										<div class="form__group">
												<h4 style="color: aliceblue;">endDate</h4>
											<input type="date" th:field="${phim.endDate}" id="endDate"
												class="form__input" placeholder="End_Date">
										</div>
										
										
									</div>


									<div class="col-12 col-sm-6 col-lg-3">
										<div class="form__group">
											<h4 style="color: aliceblue;">Duration</h4>
											<input type="text" th:field="${phim.duration}" class="form__input"
												placeholder="Duration">
										</div>
									</div>


									<div class="col-12 col-sm-6 col-lg-3">
										<div class="form__group">
											<h4 style="color: aliceblue;">Director</h4>
											<input type="text" th:field="${phim.directors}" class="form__input"
												placeholder="director">
										</div>
									</div>


									<div class="col-12 col-sm-6 col-lg-3">
										<div class="form__group">
											<h4 style="color: aliceblue;">Age</h4>
											<input type="text" th:field="${phim.rating}" class="form__input"
												placeholder="Age">
										</div>
									</div>
									<div class="col-12 col-sm-6 col-lg-3">
										<div class="form__group">
											<h4 style="color: aliceblue;">Price</h4>
											<input type="number" th:field="${phim.price}" id="price"
												class="form__input" placeholder="Price">
										</div>
									</div>



									<div class="col-12 col-lg-6">
										<div class="form__group">
											<h4 style="color: aliceblue;">Genre</h4>
											<select class="js-example-basic-multiple" th:field="${phim.genre}"
												id="genre">
												<option value="Action">Action</option>
												<option value="Animation">Animation</option>
												<option value="Comedy">Comedy</option>
												<option value="Crime">Crime</option>
												<option value="Drama">Drama</option>
												<option value="Fantasy">Fantasy</option>
												<option value="Historical">Historical</option>
												<option value="Horror">Horror</option>
												<option value="Romance">Romance</option>
												<option value="Science-fiction">Science-fiction</option>
												<option value="Thriller">Thriller</option>
												<option value="Western">Western</option>
												<option value="Otheer">Otheer</option>
											</select>

										</div>
									</div>
									
									<div class="col-12 col-sm-6 col-lg-3">
										<div class="form__group">
											<h4 style="color: aliceblue;">Casters</h4>
											<input type="text" th:field="${phim.casters}" class="form__input"
												placeholder="casters">
										</div>
									</div>


								</div>

							</div>
							
							

							<div class="col-12">
								<div class="form__group form__group--link">
									<h4 style="color: aliceblue;">Trailer</h4>
									<input type="text" th:field="${phim.trailer}" class="form__input"
										placeholder="Trailer">
								</div>
							</div>

							<div class="col-12">
								<div class="row">
									<div class="col-12">
										<input type="submit" value="Publish" class="form__btn" />

									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- end form -->
			</div>
		</div>
	</main>


</body>

</html>