<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/user :: content('BookSeat Page', ~{this :: .container})}">

<head>
	<title></title>
</head>

<body>

	<section class="container">
		<div class="col-sm-12">
			<div class="row">
				<div class='icon-block col-sm-12'>
					<h2 class="heading heading--top">CGV </h2>
					<div class="container">
						<div>
							<ul style="list-style: none; display: flex;">
								<li th:each="cinema : ${cinemas}" style="padding: 40;">
									<a th:text="${cinema.name}">
									</a>
								</li>
							</ul>
						</div>
					</div>


				</div>
			</div>
		</div>
	</section>


</body>

</html>