<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/user :: content('Home Page', ~{this :: .main})}">

<head>
	<title></title>
</head>
<form id="login-form" class="login" method='post' th:action="@{/user/register}" novalidate=''>
		<p class="login__title">Log in <br><span class="login-edition">welcome to A.Movie</span></p>

		<div class="social social--colored">
			<a href='#' class="social__variant fa fa-facebook"></a>
			<a href='#' class="social__variant fa fa-twitter"></a>
			<a href='#' class="social__variant fa fa-tumblr"></a>
		</div>

		<p class="login__tracker">or</p>

		<div class="field-wrap">
			<input type="text" placeholder="Username" name="user-email" required  
				class="login__input">
			<input type="password" placeholder="Password" name="user-password" required  
				class="login__input">
			 
		</div>

		<div class="login__control">
			<button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
			<a href="#" class="login__tracker form__tracker">Forgot password?</a>
		</div>
	</form>

</html>