<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/user :: content('Forget Password', ~{this :: .login})}">

<head>
	<title></title>
</head>
<form id="login-form" class="login" th:href="@{/user/forgetpassword}" method="post">
	<p class="login__title">Forget Password<br></p>


	<div class="field-wrap">
		<input type="email" placeholder="Email" name="email" required class="login__input">

	</div>

	<div class="login__control">
		<button type='submit' class="btn btn-md btn--warning btn--wider">Submit</button>
	</div>
</form>

</html>