<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user :: content('Register', ~{this :: .container})}">
<head>
    <title th:text="${title}"></title>
</head>
<body>
<section class="container">
               <form method="post" th:Action="@{/user/register}">
            <p class="login__title">Register <br><span class="login-edition">welcome to A.Movie</span></p>.
            <th:block th:text="${msg}"></th:block>
            <div class="field-wrap">
                Username:
                <input type="text" placeholder="Username" name="user-email"  required
                th:field="${account.username}">
                Password:
                <input type="password" placeholder="Password" name="user-password" required
                th:field="${account.password}">
                FullName:
                <input type="text" placeholder="FullName" name="user-email" required
                th:field="${account.fullname}">
                Phone Number:
                <input type="tel" placeholder="Phone Number" name="user-password" required 
                pattern="[0-9]{10}"
                th:field="${account.phone}">
                Email:
                <input type="text" placeholder="Email" name="user-email" required
                th:field="${account.email}">
                Address:
                <textarea class="login__input" th:field="${account.address}"></textarea>
                <input id="#informed" class="login__check styled">
                <label for="#informed" class="login__check-info"></label>
            </div>
            <div class="login__control">
                <input type="submit">
            </div>
        </form>
    </section>
</body>
</html>
