<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/user :: content(${account.username}, ~{this :: .login})}">

<head>
	<title></title>
</head>

<body>
	<form id="login-form" class="login" method='post' th:action="@{/user/update}">
		<p class="login__title">Update<br>
			<br>
			<span class="login-edition" th:text="${msg}"></span>
		</p>



		<div class="field-wrap">

			<input type="password" placeholder="Password" name="user-password" th:field="${account.password}"
				class="login__input">
			<input type="text" placeholder="FullName" class="login__input" name="user-email"
				th:field="${account.fullname}" required>
			<input type="tel" placeholder="Phone Number" class="login__input" name="user-password" required
				pattern="^\d{10}$" th:field="${account.phone}">
			<input type="email" placeholder="Email" class="login__input" name="user-email" required
				th:field="${account.email}">

			<textarea class="login__input" th:field="${account.address}" placeholder="Address"></textarea>
		</div>

		<div class="login__control">
			<input type="hidden" th:field="${account.username}">
			<input type="hidden" th:field="${account.id}">
			<input type="hidden" th:field="${account.status}">
			<button type='submit' class="btn btn-md btn--warning btn--wider">Submit</button>
		</div>
	</form>


</body>

</html>