<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/user :: content('BookSeat Page', ~{this :: .container})}">

<head>
	<title></title>
</head>

<body>
	<section class="container">
		<div class="overflow-wrapper">
			<div class="col-sm-12">
				<h2 class="page-heading" th:text="@{'CINEMA ' + ${cinema.name}}"></h2>
				<article class="post post--news">
					<a class="post__image-link">
						<img alt='' th:src="@{'/images/' + ${cinema.photo}}">
					</a>
				</article>
			</div>
		</div>
	</section>

	<section class="container">
		<div class="col-sm-12">
			<h2 class="page-heading">Pick time</h2>
			<div class="container">
				<div class="row">
					<form th:action="@{/home/choose-time}" method="GET">
						<div class="col-sm-6">
							<input type="hidden" id="movieId" name="movieId" th:value="${movieId}" />
							<input type="hidden" id="cinemaId" name="cinemaId" th:value="${cinema.id}" />
							<select class="js-example-basic-multiple" id="date" name="date"
								style="width: 577; height: 40;">
								<option th:each="date : ${dates}"
									th:selected="${#dates.format(date, 'yyyy-MM-dd') == selectedDate}"
									th:value="${#dates.format(date, 'yyyy-MM-dd')}"
									th:text="${#dates.format(date, 'EEEE MM/dd')}">
								</option>
							</select>
						</div>
						<div class="col-sm-6">
							<button type="submit" style="width: 100; height: 40;"
								class="btn btn-primary">Search</button>
						</div>
					</form>
				</div>
			</div>
			<div class="time-select time-select--wide" style="margin-top:50px">
				<div class="time-select__group group--first">
					<div class="col-sm-3">
						<p class="time-select__place" th:text="${cinema.name}"></p>
					</div>
					<ul class="col-sm-6 items-wrap" th:each="show : ${shows}" style="width: 90;">
						<button 
							onclick="onChooseShow(this)"
							th:data-show-id="${show.id}"
							 style="border:none;">
							<li class="time-select__item"
								th:data-time="${#dates.format(show.startTime, 'HH:mm')}"
								th:text="${#dates.format(show.startTime, 'HH:mm')}">
							</li>							
						</button>
					</ul>
				</div>
			</div>
		</div>
	</section>
</body>

</html>