<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/user :: content(${movie.title}, ~{this :: .container})}">

<section class="container">
	<h2 class="page-heading heading--outcontainer">Movies </h2>
	<div class="row">
		<div class="col-md-8">
			<div class="movie movie--preview release">
				<div class="col-sm-5 col-md-3">
					<div class="movie__images">
						<img alt='' th:src="@{'/images/' + ${movie.poster}}">
						<button th:if="${!isLoggedIn}" type="button" style="margin-top: 30;" class="btn btn-md btn--warning">
							<a href="/user/login" style="color: black; text-decoration: none;">
								<span class="hidden-sm">sign in to book tickets</span></a>								
							</a>
						</button>
						<button th:if="${isLoggedIn && isMovieShowingNow}" type="button" style="margin-top: 30;" class="btn btn-md btn--warning"
							data-toggle="modal" data-target="#myModal">
							<span class="hidden-sm">book ticket </span></a>
						</button>
					</div>
				</div>
				<div class="col-sm-7 col-md-9">
					<a class="movie__title link--huge" th:text="${movie.title}"></a>
					<p class="movie__time" th:text="${movie.duration}"> </p>
					<p class="movie__option"><strong>Genre: </strong><a th:text="${movie.genre}"></a></p>
					<p class="movie__option"><strong>Release date: </strong>
					
						<th th:text="${#dates.format(movie.releaseDate, 'dd/MM/yyyy')}"></th>
					</p>
					<p class="movie__option"><strong>Director: </strong><a th:text="${movie.directors}"> </a></p>
					<p class="movie__option"><strong>Actors: </strong><a th:text="${movie.casters}"> </a> </p>
					<p class="movie__option"><strong>Rated: </strong><a th:text="${movie.rating}"></a></p>
					<p class="movie__option"><strong>Description: </strong><a th:text="${movie.description}"></a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="movie__btns">
				<iframe width="400" height="300" th:src="${movie.trailer}"
					title="REVIEW PHIM BIỆT ĐỘI SIÊU ANH HÙNG 1 || AVENGERS || SAKURA REVIEW" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen></iframe>
			</div>
		</div>
	</div>

</section>
<!-- Modal CITY -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
</div>


<div class="container">
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form id="login-form" class="login" method='get' novalidate=''>
					<p class="login__title">CITY <br><span class="login-edition">Choose a city </span></p>
					<p class="login__tracker"> </p>
					<div class="container">
						<div>
							<ul style="list-style: none; display: flex; flex-wrap: wrap;">

								<li th:each="city : ${cities}" style="padding: 20;">
									<a th:href="@{'/home/choose-cinema?cityId=' + ${city.id} + '&amp;movieId=' + ${movie.id}}"
										th:text="${city.name}"></a>
								</li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>