  <html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/user :: content('Home Page', ~{this :: .container})}">
<head>
<title></title>
</head>
<body>
  
  <!-- Now Showing -->
        
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">NOW SHOWING</h2>
                <div class="row">
                <div class="gallery-wrapper">
                    <div class="col-sm-4 col-md-3">
                        <div class="gallery-item">
                            <a href='images/gallery/large/item-1.jpg' class="gallery-item__image gallery-item--photo">
                                <img alt='' th:src="@{user/images/gallery/thumb/item-1.jpg}">
                            </a>
                            <a href='images/gallery/large/item-1.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">Marble Arch Odeon</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-3">
                        <div class="gallery-item">
                            <a href='images/gallery/large/item-2.jpg' class="gallery-item__image gallery-item--photo">
                                 <img alt='' th:src="@{user/images/gallery/thumb/item-1.jpg}">
                            </a>
                            <a href='images/gallery/large/item-2.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">Camden Town Odeon</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-3">
                        <div class="gallery-item">
                            <a href='images/gallery/large/item-3.jpg' class="gallery-item__image gallery-item--photo">
                                 <img alt='' th:src="@{user/images/gallery/thumb/item-1.jpg}">
                            </a>
                            <a href='images/gallery/large/item-3.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">Camden Town Odeon</p>
                            </a>
                        </div>
                    </div>

                   <div class="col-sm-4 col-md-3">
                        <div class="gallery-item">
                            <a href='images/gallery/large/item-3.jpg' class="gallery-item__image gallery-item--photo">
                                 <img alt='' th:src="@{user/images/gallery/thumb/item-1.jpg}">
                            </a>
                            <a href='images/gallery/large/item-3.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">Camden Town Odeon</p>
                            </a>
                        </div>
                    </div>

                    
                </div>
                </div>
    

                
            </div>

        </section>
        <!-- Coming soon -->
         <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">COMING SOON</h2>
                <div class="row">
                <div class="gallery-wrapper">
                    <div class="col-sm-4 col-md-3">
                        <div class="gallery-item">
                            <a href='images/gallery/large/item-1.jpg' class="gallery-item__image gallery-item--photo">
                                <img alt='' th:src="@{user/images/gallery/thumb/item-1.jpg}">
                            </a>
                            <a href='images/gallery/large/item-1.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">Marble Arch Odeon</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-3">
                        <div class="gallery-item">
                            <a href='images/gallery/large/item-2.jpg' class="gallery-item__image gallery-item--photo">
                                 <img alt='' th:src="@{user/images/gallery/thumb/item-1.jpg}">
                            </a>
                            <a href='images/gallery/large/item-2.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">Camden Town Odeon</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-3">
                        <div class="gallery-item">
                            <a href='images/gallery/large/item-3.jpg' class="gallery-item__image gallery-item--photo">
                                 <img alt='' th:src="@{user/images/gallery/thumb/item-1.jpg}">
                            </a>
                            <a href='images/gallery/large/item-3.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">Camden Town Odeon</p>
                            </a>
                        </div>
                    </div>

                  <div class="col-sm-4 col-md-3">
                        <div class="gallery-item">
                            <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__image gallery-item--video">
                                <img alt='' th:src="@{/user/images/gallery/thumb/item-15.jpg}">
                            </a>
                            <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__descript gallery-item--video-link">
                                <span class="gallery-item__icon"><i class="fa fa-video-camera"></i></span>
                                <p class="gallery-item__name">Camden Town Odeon</p>
                            </a>
                        </div>
                    </div>
                    
                </div>
                </div>
    

                <div class="pagination paginatioon--full">
                    <a href='#' class="pagination__prev">prev</a>
                    <a href='#' class="pagination__next">next</a>
                </div>
            </div>

        </section>
        
        
</body>
