<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/user :: content('BookSeat Page', ~{this :: .container})}">

<section class="container">
	<div class="order-container">
		<div class="order" style="margin-top: 50;">
					<img class="order__images" style="position: absolute; left: 400;  " alt='' th:src="@{/user/images/tickets.png}">
			<p class="order__title">Book a ticket <br><span class="order__descript">and have fun movie time</span></p>
			<div class="order__control">

			</div>
		</div>
	</div>
	<div class="order-step-area" style="margin-top: 130;">
		<div class="order-step first--step order-step--disable ">1. What &amp; Where &amp; When</div>
		<div class="order-step second--step order-step--disable">2. Choose a sit</div>
		<div class="order-step third--step">3. Check out</div>
	</div>

	<div class="col-sm-12">
		<div class="checkout-wrapper">
			<h2 class="page-heading">price</h2>
			<ul class="book-result">
				<li class="book-result__item">Tickets: <span class="book-result__count booking-ticket">3</span></li>
				<li class="book-result__item">One item price: <span class="book-result__count booking-price">$20</span>
				</li>
			</ul>
			<h2 class="page-heading">food</h2>
			<ul class="book-result">
				<li class="book-result__item">Tickets: <span class="book-result__count booking-ticket">3</span></li>
				<li class="book-result__item">One item price: <span class="book-result__count booking-price">$20</span>
				</li>
				<li class="book-result__item">Total: <span class="book-result__count booking-cost">$60</span></li>
			</ul>
			 

			<h2 class="page-heading">Choose payment method</h2>
			<div class="payment" style="display: flex ;">
				<a href="#" class="payment__item">
					<img alt='' th:src="@{/user/images/payment/pay1.png}">
				</a>
				<a href="#" class="payment__item">
					<img alt='' th:src="@{/user/images/payment/pay3.png}">
				</a>
				<a href="#" class="payment__item">
					<img alt='' th:src="@{/user/images/payment/pay4.png}">
				</a>
				<a href="#" class="payment__item">
					<img alt='' th:src="@{/user/images/payment/pay5.png}">
				</a>
				<a href="#" class="payment__item">
					<img alt='' th:src="@{/user/images/payment/pay6.png}">
				</a>
				<a href="#" class="payment__item">
					<img alt='' th:src="@{/user/images/payment/pay7.png}">
				</a>
				<a href="#" class="payment__item">
					<img alt='' width="40" height="40" th:src="@{/user/images/payment/vnpay.jpg}">
				</a>
			</div>



		</div>

		<div class="order">
			<a href="book-final.html" class="btn btn-md btn--warning btn--wide">buy now</a>
		</div>

	</div>

</section>

</html>